[mysqld]
#pid-file = /var/run/mysqld/mysqld.pid
#socket = /var/run/mysqld/mysqld.sock
#port = 3306
#basedir = /usr
#datadir = /var/lib/mysql
#tmpdir = /tmp
#lc-messages-dir = /usr/share/mysql
#explicit_defaults_for_timestamp
#log-error = /var/log/mysql/error.log
# Disabling symbolic-links is recommended to prevent assorted security risks
#symbolic-links=0

#innodb_log_buffer_size = 32M

max_user_connections = 300
max_heap_table_size = 32M
server-id = 1
general-log-file = /var/log/mysql/mysql.log
max_connections = 1000
performance_schema
innodb_flush_method = O_DIRECT
innodb_read_io_threads = 4
innodb_flush_log_at_trx_commit = 1
log-slave-updates
binlog_format = MIXED
##port = 5500
##socket = /var/lib/mysql/mysql.sock.0
tmp_table_size = 32M
innodb_io_capacity = 200
sync_binlog = 1
query_cache_size = 128M
expire_logs_days = 32
innodb_write_io_threads = 4
slow_query_log = 1
thread_cache_size = 50
innodb_open_files = 500
table_definition_cache = 1000
table_open_cache = 1000
key_buffer_size = 256M
innodb_file_per_table
log_output = FILE
datadir = /var/lib/mysql
log-bin = /var/log/mysql/binlog

innodb_log_file_size = 16M
innodb_buffer_pool_size = 1G

max_binlog_size = 1073741824
slow_query_log_file = /var/log/mysql/slow_queries.log

max_allowed_packet=64M

innodb_checksum_algorithm=innodb
binlog_checksum=none
query_cache_type=1


#[client]
#port = 3306
#socket = /var/run/mysqld/mysqld.sock
#max_allowed_packet=8M


#[mysqldump]
#max_allowed_packet=8M

#[mysqld_safe]
#pid-file = /var/run/mysqld/mysqld.pid
#socket = /var/run/mysqld/mysqld.sock
#nice = 0

